# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea
/.out/
# Datasource local storage ignored files
/../../../../../../../../:\Users\emonn\OneDrive\Documents\GitHub\Adv-Java-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
