# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea
/.out/
# Datasource local storage ignored files
/../../../../../../../../:\Users\emonn\OneDrive\Documents\GitHub\Adv-Java-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client team.requests
/httpRequests/
/out/production/Adv-Java-Project/
/target/

/src/main/resources/config.properties
src/main/resources/config.properties
